body {
  background-color: #073642;
}

#logo {
  position: fixed;
  width: 100%;
  z-index: 10;
  width: 960px;
}

#grid {
  float: left;
  position: relative;
  z-index: 0;
}

#bar {
  float: top;
  position: absolute;
  width: 77%;
  height: 2%;
  color: #00f5f0;
  border-color: #073642;
  border-width: 8px;
  border-style: double;
  background-image: 
    -webkit-radial-gradient(top right, circle, #000000, #586e75 10%, #000000 40%);
  z-index: 9;
}

#panel {
  float: right;
  position: absolute;
  margin-left: 75%;
  width: 22%;
  height: 90%;
  color: #00f5f0;
  border-color: #073642;
  border-width: 8px;
  border-style: double;
  background-image: 
    -webkit-radial-gradient(top left, circle, #000000, #586e75 10%, #000000 40%);
  z-index: 9;
}

#selector {
  float: left;
  position: absolute;
  width: 4%;
  height: 90%;
  color: #00f5f0;
  border-color: #073642;
  border-width: 8px;
  border-style: double;
  background-image: 
    -webkit-radial-gradient(bottom left, circle, #000000, #586e75 10%, #000000 40%);
  z-index: 9;
}

#footer {
  padding-top: 50px;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

.jasmine_reporter {
  padding-top: 900px;
}
