body {
  background-color: #073642;
}

#logo {
  position: fixed;
  width: 100%;
  z-index: 10;
  width: 960px;
}

#grid {
  float: left;
  position: relative;
  z-index: 0;
}

#panel {
  float: right;
  position: absolute;
  margin-left: 75%;
  width: 22%;
  height: 90%;
  border-style: outset;
  border-width: 8px;
  z-index: 9;
}

#footer {
  padding-top: 50px;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

.jasmine_reporter {
  padding-top: 900px;
}
